*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right, #00AAFF, #00FF6C);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 80px;
    color: rgb(48, 45, 40);
    border: 3px solid  rgb(48, 45, 40);
    border-radius: 15px;
    font-size: 80px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#text_input{
    display: block;
    height: 50px;
    border-radius: 15px;
    padding: 0 40px;
    font-size: 25px;
    background-color: wheat;
    width: 300px;
    text-align: center;
    margin-bottom: 30px;
}
#button_1{
    display: block;
    height: 50px;
    border-radius: 15px;
    font-size: 25px;
    background-color: wheat;
    width: 300px;
    margin-bottom: 40px;
}
#div_2{
    font-size: 30px;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
    
}
p{
    color: rgb(48, 45, 40);
}
#reversed_text{
    text-align: center;
    margin-top: 30px;
    border: 3px solid  rgb(48, 45, 40);
}








 




