*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(159, 223, 223);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 50vh;
    align-items: center;

}


main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height:0px;
    align-items: center;
}

.display{
    font-size: 30px;
    margin: 50px;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
}

main.p{
    margin: 25px 0;
    text-align: center;
}

#input,#button{
    height: 50px;
    border-radius: 15px;
    padding: 0 25px;
    font-size: 25px;
    background-color: oldlace;

}

#input{
    width: 300px;
}

#reversed{
    font-size: 20px;
    margin: 50px;
    padding: 10px;
    border: 1px solid black;
    font-weight: bold;
    background-color: oldlace;

}

h1{
    margin: 200px;
}






 




